<p id="notice"><%= notice %></p>

<h1><%= @admin.full_name %></h1>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Locked:</strong>
  <%= @admin.locked %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
