<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @device.serial_number %>
</p>

<p>
  <strong>Registration Date:</strong>
  <%= @device.created_at %>
</p>

<p>
  <strong>Firmware version:</strong>
  <%= @device.firmware_version %>
</p>
<h2>Temperature</h2>
<%= line_chart @device.statuses.pluck(:collected_at, :temperature), xmin: @xmin, xmax: @xmax, xtitle: 'Time', ytitle: 'Temperature (in Celcius)' %>
<h2>Air Humidity</h2>
<%= line_chart @device.statuses.pluck(:collected_at, :air_humidity), xmin: @xmin, xmax: @xmax, xtitle: 'Time', ytitle: 'Air Humidity Percentage' %>
<h2>Carbon Monoxide</h2>
<%= line_chart @device.statuses.pluck(:collected_at, :carbon_monoxide), xmin: @xmin, xmax: @xmax, xtitle: 'Time', ytitle: 'Carbon Monoxide Level' %>

<table>
  <thead>
  <tr>
    <th>Temperature</th>
    <th>Air humidity</th>
    <th>Carbon monoxide</th>
    <th>Health status</th>
    <th>Collected at</th>
  </tr>
  </thead>

  <tbody>
  <% @device.statuses.each do |status| %>
      <tr>
        <td><%= status.temperature %></td>
        <td><%= status.air_humidity %></td>
        <td><%= status.carbon_monoxide %></td>
        <td><%= status.health_status %></td>
        <td><%= status.collected_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Back', devices_path %>
