<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @notification.level %>
</p>

<p>
  <strong>Status:</strong>
  <%= @notification.status %>
</p>

<p>
  <strong>Dismissed:</strong>
  <%= @notification.dismissed %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
