<!DOCTYPE html>
<html>
  <head>
    <title>TheoremAc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if admin_signed_in? %>
    <%= render partial: 'layouts/navbar' %>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <% if notice.present? %>
            <% if notice.include?('successfully') %>
                <div class="alert alert-success"><%= notice %></div>
            <% else %>
                <div class="alert alert-dark"><%= notice %></div>
            <% end %>
        <% end %>
        <% if admin_signed_in? %>
          <% unless @danger_count.zero? %>
              <div class="alert alert-danger">There are currently <%= link_to "#{@danger_count} devices", notifications_path %> with safety concerns!!</div>
          <% end %>
          <% unless @warning_count.zero? %>
            <div class="alert alert-warning">There are currently <%= link_to "#{@warning_count} devices", notifications_path %> devices in need of service or filters</div>
          <% end %>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
